__pycache__
rpi_conf.yaml
*.so
*.o
build/
native/call_obj.h
native/call_obj.cpp
native/rpiplayer.cpp
native/rpiplayer.h
native/state_info.h
native/state_info.cpp
.venv/
.vscode/
test
.buildozer/
bin/
